@tailwind base;
@tailwind components;
@tailwind utilities;

.icon {
  font-size: 1.5rem;
}

.imgcon {
  height: 50px;
  max-width: 50px;
}

.text-xxxs {
  font-size: 17px;
}
.text-xxxxs {
  font-size: 1px;
}

.ellipse {
  padding-bottom: 1rem;
  clip-path: ellipse(0% 0%, 100% 0%, 100% calc(100% - 4rem), 0% 100%);
}
